.covid-predictions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .covid-predictions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
