.covid-predictions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.covid-predictions__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.covid-predictions__options {
  margin-right: 12px;
  padding: 12px;
  background-color: lightgray;
}

.covid-predictions__values {
  font-weight: bold;
  font-size: 14px;
  border-bottom: solid 2px gray;
  margin-bottom: 4px;
}

.covid-predictions__value {
  display: block;
}

@media screen and (max-width: 500px) {
  .covid-predictions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
