.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid gray;
  font-size: 16px;
  padding-top: 8px;
  padding-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}
