.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projections__loading {
  @extend .column-center;
}

.projections__model-trained {
  @extend .column-center;
  font-weight: bold;
  margin-top: 8px;
}

.projections__choose {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
}

.projections__select {
  margin-left: 12px;
  width: 80px;
}

@media screen and (max-width: 500px) {
  .projections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projections__train-btn {
    margin-bottom: 12px;
  }
}
