.stuffie-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stuffie-loading__message {
  color: blue;
  margin-top: 8px;  
}
